:root {
  --first-color: #d3c6ee;
  --second-color: #8febbc;
  --third-color: #da649b;
  --fourth-color: #fffaa5;
}

body {
  margin: 0 auto;
  text-align: center;
  background-color: var(--first-color);
}

h1 {
  font-family: "Leckerli One", cursive;
  color: #252525;
  font-size: 64px;
  text-shadow: -4px -1px 1px #a585ec;
}

h2 {
  font-family: "Tilt Neon", cursive;
  font-weight: 600;
  font-size: 30px;
  color: var(--second-color);
  margin-bottom: 20px;
  text-shadow: 0.5px 0.5px 1px rgb(0, 0, 0);
}

h3 {
  font-family: "Leckerli One", cursive;
  font-size: 48px;
  color: #fff;
  line-height: 1;
  margin-top: 20px;
  text-shadow: 2px 2px 2px lightslategrey;
}

p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

a {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: var(--fourth-color);
  text-decoration: none;
}

button {
  display: block;
  margin: 0 auto;
  padding: 12px 18px;
  border-radius: 8px;
  border: 1px solid darkcyan;
  background-color: var(--third-color);
  box-shadow: 2px 2px 1px darkgrey;
  transition: all 0.5s ease-in-out;
  position: inherit;
}

button:hover {
  background-color: var(--second-color);
  border: 1px solid var(--first-color);
}

.col-md-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.navbar {
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.navbar a {
  color: var(--third-color);
}

.navbar a:hover {
  color: var(--fourth-color);
  cursor: pointer;
  font-weight: 500;
}

.index-wrapper {
  border: 1px dashed #252525;
  padding: 45px 5px 5px 5px;
  box-shadow: 20px 20px 0px #a585ec;
  background-color: #fff;
  border-radius: 12px;
  max-width: 1100px;
  margin: 0 auto;
}

.bg {
  background: #fff;
  border-radius: 12px;
  padding: 100px 45px 20px 45px;
  border: 1px solid #252525;
  max-width: 1100px;
  text-align: left;
}

.bg-2 {
  font-family: "Leckerli One", cursive;
  background: #fff;
  border-radius: 12px;
  padding-top: 70px;
  padding-bottom: 20px;
  border: 2px dashed #252525;
  max-width: 1100px;
  margin: 0 auto;
}

.hi-text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 36px;
  margin-bottom: -12px;
  text-shadow: none;
  display: inline;
}

.title {
  display: inline;
  font-size: 36px;
  text-transform: none;
  font-weight: 400;
  padding-left: 6px;
}

.second-heading {
  margin: 5px;
  text-align: left;
  padding-left: 30px;
  font-family: "Tilt Neon", cursive;
}

.greeting-text {
  text-align: left;
  padding: 20px 10px 20px 0px;
  line-height: 2;
  color: #252525;
  font-size: 15px;
}

.content-section {
  padding: 20px 30px;
  text-align: left;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  max-width: 1000px;
  background-color: rgba(0, 0, 0, 0.1);
}

.contact-links h2 {
  display: inline;
}

.content-section img {
  padding: 14px;
  background-color: #fff;
  margin: 20px auto;
  display: block;
  border-radius: 12px;
  box-shadow: 20px 20px 0px #a585ec;
}

.portfolio-section {
  padding: 20px 30px;
  text-align: left;
  max-width: 1000px;
  background-color: rgba(0, 0, 0, 0.1);
}

.portfolio-section p {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 10px;
}

.portfolio-section img {
  display: block;
  margin: 0px auto;
  border-radius: 3px;
  padding: 5px;
  background-color: #fff;
  box-shadow: 3px 3px 3px #6b6b6b;
  transition: all 0.5s ease;
}

.portfolio-section img:hover {
  filter: brightness(70%);
}

.img-box {
  border: 1px dashed #252525;
  box-shadow: 20px 20px 0px #a585ec;
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  max-width: 1100px;
  margin: 25px auto;
}

.img-fluid {
  max-width: 90%;
}

.connect-text {
  font-size: 22px;
  padding-top: 20px;
  margin-top: 20px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-style: oblique;
  color: var(--third-color);
  text-shadow: 1px 1px 1px lightslategray;
}

.contact-headers {
  display: var(--set-inline);
}

.icon-img {
  font-size: 40px;
  padding: 15px;
  transition: all 0.5s ease-in-out;
  text-shadow: 1px 1px 1px #252525;
}

.icon-img:hover {
  color: var(--second-color);
}

@media (max-width: 992px) {
  .navbar-toggler {
    background-color: var(--fourth-color);
  }
}

@media (max-width: 768px) {
  .greeting-text {
    padding: 25px;
    line-height: 1.75;
    text-align: left;
  }

  h2 {
    font-size: 20px;
  }

  h1 {
    font-size: 56px;
  }
}

@media (max-width: 280px) {
  h1 {
    font-size: 54px;
  }

  h3 {
    font-size: 38px;
  }

  .second-heading {
    text-align: center;
    padding-left: 3px;
  }

  .content-section img {
    padding: 7px;
  }
}

@media (max-width: 350px) {
  .second-heading {
    text-align: center;
    padding-left: 3px;
    font-size: 54px;
  }

  .content-section {
    padding: 20px 10px;
    font-size: 14px;
  }

  .content-section img {
    padding: 7px;
  }
}
