:root {
  --first-color: #d3c6ee;
  --second-color: #8febbc;
  --third-color: #da649b;
  --fourth-color: #fffaa5;
}

body {
  margin: 0 auto;
  text-align: center;
  background-color: var(--first-color);
}

h1 {
  font-family: "Leckerli One", cursive;
  color: #252525;
  font-size: 64px;
  text-shadow: -4px -1px 1px #a585ec;
}

h2,
.contact-links a {
  font-family: "Tilt Neon", cursive;
  font-weight: 600;
  font-size: 28px;
  color: var(--second-color);
  margin-bottom: 20px;
  text-shadow: 0.5px 0.5px 1px rgb(0, 0, 0);
}

h3 {
  font-family: "Leckerli One", cursive;
  font-size: 48px;
  color: #f8f9fa;
  line-height: 1;
  margin-top: 20px;
  text-shadow: 2px 2px 2px lightslategrey;
}

p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

a {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: var(--fourth-color);
  text-decoration: none;
}

.button-resume {
  background-color: var(--third-color);
  border: 2px dashed #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 20px 0px 30px 0px;
}

.button-resume:hover {
  background-color: #f8f9fa;
}

.button-resume:hover a {
  color: #a585ec;
}

.button-resume:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.color-cells {
  background: #a585ec;
}

.tech-stack p {
  line-height: 1em;
  font-weight: 600;
  padding-top: 8px;
  color: var(--fourth-color);
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  text-shadow: 1px 2px 2px lightslategrey;
}

.tech-stack i {
  font-size: 40px;
  text-shadow: 1px 2px 2px lightslategrey;
}

.tech-stack h2 {
  text-align: center;
  font-size: 32px;
}

.dots {
  background: radial-gradient(circle, #a585ec 10%, transparent 11%),
    radial-gradient(circle at bottom left, #a585ec 5%, transparent 6%),
    radial-gradient(circle at bottom right, #a585ec 5%, transparent 6%),
    radial-gradient(circle at top left, #a585ec 5%, transparent 6%),
    radial-gradient(circle at top right, #a585ec 5%, transparent 6%);
  background-size: 2em 2em;
  background-color: #d3c6ee;
  opacity: 1;
}

.gradi {
  flex: 1 1 auto;
  padding: 11px 21px;
  text-align: center;
  transition: 0.5s;
  border-style: none;
  background: linear-gradient(
      90deg,
      var(--c1, #da649b),
      var(--c2, #d3c6ee) 51%,
      var(--c1, #da649b)
    )
    var(--x, 0) / 200%;
  color: #f8f9fa;
  border-radius: 10px;
  display: block;
  margin: 10px auto;
  box-shadow: 2px 2px 1px darkgrey;
}

.gradi:hover {
  --x: 100%;
}

.gradi-1 {
  --c1: #da649b;
  --c2: #d3c6ee;
}

.col-md-6 {
  padding: 10px 20px;
}

.navbar {
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.navbar a {
  color: var(--third-color);
}

.navbar a:hover {
  color: var(--fourth-color);
  cursor: pointer;
  font-weight: 500;
}

.index-wrapper {
  border: 1px dashed #252525;
  padding: 45px 5px 5px 5px;
  box-shadow: 20px 20px 0px #a585ec;
  background-color: #f8f9fa;
  border-radius: 12px;
  max-width: 1100px;
  margin: 0 auto;
}

.index-wrapper p,
.img-box p {
  color: #6b6b6b;
}

.bg {
  background: #f8f9fa;
  border-radius: 12px;
  padding: 100px 45px 20px 45px;
  border: 1px solid #252525;
  max-width: 1100px;
  text-align: left;
}

.bg-2 {
  font-family: "Leckerli One", cursive;
  background: #f8f9fa;
  border-radius: 12px;
  padding-top: 70px;
  padding-bottom: 20px;
  border: 2px dashed #252525;
  max-width: 1100px;
  margin: 0 auto;
}

.bg-3 {
  font-family: "Leckerli One", cursive;
  background: #f8f9fa;
  border-radius: 12px;
  padding: 20px 0px;
  border: 2px dashed #252525;
  max-width: 1100px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.hi-text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 36px;
  margin-bottom: -12px;
  text-shadow: none;
  display: inline;
}

.title {
  display: inline;
  font-size: 36px;
  text-transform: none;
  font-weight: 400;
  padding-left: 6px;
}

.second-heading {
  margin: 5px;
  text-align: left;
  padding-left: 30px;
  font-family: "Tilt Neon", cursive;
}

.greeting-text {
  text-align: left;
  padding: 20px 10px 20px 0px;
  line-height: 2;
  color: #252525;
  font-size: 15px;
}

.content-section {
  padding: 20px 30px 10px;
  text-align: left;
  color: #f8f9fa;
  font-size: 16px;
  font-weight: 500;
  max-width: 1000px;
  background-color: #beb2d6;
}

.contact-links h2 {
  text-align: left;
  margin-bottom: 5px;
}

.contact-links a:hover {
  color: #a585ec;
}

.content-section img {
  padding: 14px;
  background-color: #f8f9fa;
  margin: 25px auto;
  display: block;
  border-radius: 12px;
  box-shadow: 20px 20px 0px #a585ec;
}

.portfolio-section {
  padding: 20px 30px;
  text-align: left;
  max-width: 1000px;
  background-color: #beb2d6;
}

.bg-2,
.portfolio-section,
.content-section {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin-top: 1px;
}

.portfolio-section p {
  color: #f8f9fa;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 10px;
}

.portfolio-section img {
  display: block;
  margin: 0px auto;
  border-radius: 3px;
  padding: 5px;
  background-color: #f8f9fa;
  box-shadow: 3px 3px 3px #6b6b6b;
}

.shadow-hover {
  transition: all 0.5s ease;
}

.shadow-hover:hover {
  filter: brightness(70%);
}

.img-box {
  border: 1px dashed #252525;
  box-shadow: 20px 20px 0px #a585ec;
  background: #f8f9fa;
  border-radius: 12px;
  padding: 30px;
  max-width: 1100px;
  margin: 25px auto;
}

.port-bg {
  background-color: #f8f9fa;
  border-bottom-right-radius: 20px 20px;
  box-shadow: 3px 3px 3px #6b6b6b;
  margin-top: 2px;
}

.port-bg p {
  padding: 10px 15px;
  font-size: 15px;
  color: #6b6b6b;
  margin-bottom: 0px;
}

.port-heading {
  padding: 12px 10px 12px 15px;
  border: 2px solid var(--fourth-color);
  background-color: #a585ec;
  border-top-right-radius: 20px 20px;
  margin: 20px 0px 0px 0px;
  box-shadow: 3px 5px 3px #6b6b6b;
}

.strike {
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.strike:before,
.strike:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 15px;
  margin-top: -0.5px;
  bottom: 30%;
  z-index: -1;
  background: #a585ec;
  display: block;
}

.strike:before {
  left: -2.5px;
}

.strike:after {
  right: 2.5px;
  background: #a585ec;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.strike:hover:before {
  background: #a585ec;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.strike:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

.project-sub-head p {
  color: var(--fourth-color);
  font-size: 18px;
  padding-left: 15px;
  margin-bottom: 0px;
}

.connect-text {
  font-size: 22px;
  padding-top: 20px;
  margin-top: 20px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-style: oblique;
  color: var(--third-color);
  text-shadow: 1px 1px 1px lightslategray;
}

.contact-headers {
  display: var(--set-inline);
}

.icon-img {
  font-size: 40px;
  padding: 15px;
  transition: all 0.5s ease-in-out;
  text-shadow: 1px 1px 1px #252525;
}

.icon-img:hover {
  color: var(--second-color);
}

.repo-img {
  font-size: 30px;
  padding: 3px 8px 3px 3px;
  transition: all 0.5s ease-in-out;
  text-shadow: 1px 1px 1px #696969;
  color: var(--third-color);
}

.repo-img:hover {
  color: var(--second-color);
}

.deploy-links {
  margin: 0 auto;
  display: block;
  text-align: center;
}

@media (max-width: 991px) {
  .navbar-toggler {
    background-color: var(--fourth-color);
    margin-right: 10px;
  }

  .port-heading {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .greeting-text {
    padding: 25px;
    line-height: 1.75;
    text-align: left;
  }

  .content-section img {
    padding: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .contact-links a {
    font-size: 20px;
  }

  h2 {
    font-size: 20px;
  }

  h1 {
    font-size: 56px;
  }

  .port-bg p {
    font-size: 14px;
  }
}

@media (max-width: 280px) {
  h1 {
    font-size: 54px;
  }

  h3 {
    font-size: 38px;
  }

  .second-heading {
    text-align: center;
    padding-left: 3px;
  }

  .content-section img {
    padding: 7px;
  }
}

@media (max-width: 350px) {
  .second-heading {
    text-align: center;
    padding-left: 3px;
    font-size: 54px;
  }

  .content-section {
    padding: 20px 10px;
    font-size: 14px;
  }

  .content-section img {
    padding: 7px;
    margin-top: 20px;
  }
}

@media (max-width: 410px) {
  .contact-links p {
    font-size: 14px;
  }
}
